<launch>
<!--Arguments-->
  <!-- <arg name="argname" default="def_value" /> -->
  <arg name="gui" default="false" />

<!--Parameters-->
  <!--<rosparam command="load" file="$(find vservo)/config/camera_param.yaml" /> -->
  <param name="/use_sim_time" value="true"/>
  <!--<param name="video_device" value="$(arg video_device)" /> -->

<!--Nodes-->
  <node name="move_iiwa_node" pkg="kident2" type="move_iiwa.py" />
  <node name="iiwa_handler_node" pkg="kident2" type="iiwa_handler.py"/>
  <node name="input_capture_node" pkg="kident2" type="input_data_capture.py"/>
  
<!--Gazebo-->
  <include file="$(find arc_gazebo)/launch/KukaLbrIiwa/iiwa_armin.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>
  

</launch>
